@(taskForm: Form[Task])

@import helper._
@import helper.twitterBootstrap._

@main("Task Create") {

<fieldset>
  <span/>
  <legend><h1>Add task</h1></legend>

@form(routes.Tasks.create) {

@inputText(
taskForm("label"), 
'size -> 10)

@inputDate(
taskForm("date"),
'size -> 10)

@inputText(
taskForm("priority"),
'size -> 5)

@textarea(
taskForm("memo"), 
'rows -> 3, 'cols -> 20)

</fieldset>

<div class="actions">
<input type="submit" class="btn primary" value="Create">
<button class="btn">Cancel</button>
</div>
}
}
